@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-all duration-200
}
.menu {
  @apply p-2 py-3 cursor-pointer;
  border-top: 2px solid transparent; /* Set initial border */
  border-bottom: 2px solid transparent; /* Set initial border */
  transition: border 0.5s ease, padding 0.3s ease; /* Apply transition to border-color */
  
}

.menu:hover {
  border-color: rgb(169, 6, 245); /* Change border color on hover */
  padding-top: 3px; /* Expand top padding on hover */
  padding-bottom: 3px; /* Expand bottom padding on hover */
}

.mobile-menu{
  @apply bg-purple-500 bg-opacity-30 p-2 rounded-md flex justify-center items-center
}

/* @media(prefers-color-scheme:dark){
  .menu:hover{
    border-color: white;
  }
} */

.text-shadow{
  text-shadow: 1px 1px 10px rgb(7, 223, 239);
}


.form{
  @apply bg-transparent p-3 border rounded-md md:w-96 focus:outline-none
}


@keyframes intenseBounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40%{
    transform: translateY(4px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.intense-bounce {
  animation: intenseBounce 2s infinite;
}

